.home-container-1 {
    position: relative;
  }
  
  .home-container-2 {
    padding: 20px;
  }
  
  /* Container for the chatbot toggle button */
  .chatbot-toggle-container {
    position: fixed; /* Fixed position to always show at the bottom-right corner */
    bottom: 20px;
    right: 70px;
    z-index: 8888 !important;
  }
  
  /* Styling for the toggle button */
  .chatbot-toggle {
    background: linear-gradient(135deg, #4CAF50, #66BB6A); /* Gradient from green to light green */
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Elevated shadow for better appearance */
  position: relative; /* Position relative for tooltip */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  }
  
  /* Darker blue on hover */
  .chatbot-toggle:hover {
    background: linear-gradient(135deg, #3E8E41, #57A957); /* Darker gradient on hover */
  transform: scale(1.1); /* Slight zoom-in effect */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* More prominent shadow on hover */
  }
  
  /* Tooltip styling */
  .tooltip {
    margin-bottom: 2px;
    position: absolute;
    bottom: 100%; /* Position above the button */
    right: 50%;
    transform: translateX(50%); /* Center the tooltip */
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 3px 8px; /* Reduced padding for a smaller size */
    border-radius: 4px; /* Slightly smaller border radius */
    font-size: 12px !important; /* Decreased font size */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    white-space: nowrap; /* Prevent text wrapping */
  }
  
  /* Show the tooltip on hover */
  .chatbot-toggle:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
  
  /* Chatbot styles (optional: adjust as needed) */
  .chatbot {
    position: fixed; /* Fix to prevent scrolling */
    bottom: 80px; /* Space above the toggle button */
    right: 20px;
    z-index: 9999; /* Make sure it appears above other elements */
  }
  .whatsapp-btn {
    background-color: #25d366;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
  }
  .whatsapp-btn:hover {
    background-color: #128c7e;
  }