.loginpage{
    padding:  10px 7px;
    width: 100%;
    height: auto;
    font-family: "Poppins", sans-serif;

}
.signup{
    padding:  10px 7px;
    width: 100%;
    height: auto;
    font-family: "Poppins", sans-serif;
}