.freqques {
    padding: 35px 30px;
    width: 100%;
    /* background-color: rgb(216, 232, 247); */
  background-color: #F3FFFD;

    font-family: "Poppins", sans-serif;

}

.freqques h1 {
    font-weight: 450;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;

}

.freqques p {
    font-size: 18px;
    text-align: center;

}

.accordiansmain {
    padding: 15px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.accordiansleft {
    width: 45%;
}

.accordiansright {
    width: 45%;
}

.freqbtn {
    padding: 15px 25px;
    border: none;
    background-color: #006039;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 25px;
}
.freqbtn:hover{
    background-color: #098d58;

}

.accordiansleft img,
.accordiansright img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.moreques {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.moreques h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 52px;
    color: #1F1F1F;
}

.moreques .morequespop {
    padding-bottom: 25px;
    width: 480px;
    height: auto;
}

.moreques .morequespop .morequespopcon {
    padding: 5px 25px;
}

.moreques .morequespop .morequespopcon h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 55px;
    color: #727272;
}

.moreques .morequespop .morequespopcon textarea {
    padding: 5px 15px;
    width: 429px;
    height: 124px;
    border: 1px solid #D9D9D9;
    resize: none;

}

.moreques .morequespop .morequespopcon textarea::placeholder {
    color: #59595966;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;


}

.moreques .morequespop .morequespopcon button {
    width: 150px;
    height: 40px;
    /* padding: 10px; */
    border-radius: 8px;
    background-color: #01463A;
    color: #ffffff;
    box-shadow: 0px 2px 8px 0px #00000040;
    font-weight: 500;
}

.morequespopconthanku h3 {
    text-align: center !important;
    font-size: 25px !important;
    font-weight: 500 !important;
    line-height: 37.5px !important;
    color: #01463A !important;
    text-transform: uppercase;
}

.moreques .morequespop .morequespopcon button:hover{
    background-color: #098d58;}

.morequespopconthanku p {
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    text-align: center;
    color: #727272;
    


}


  /* Adjust styles for button */
  .view-more-btn {
    background-color: #01463A;  /* Customize as per your theme */
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    display: none;
  }
  
  .view-more-btn:hover {
    background-color: #098d58;
  }

@media (max-width:869px) {
    .accordiansmain {
        align-items: center;
        flex-direction: column;
        gap: 0;
    }

    .accordiansleft {
        width: 95%;
    }

    .accordiansright {
        width: 95%;
    }
    .freqques h1 {
        font-size: 26px;
    }
    
    .freqques p {
        font-size: 16px;
    }
    .moreques h3 {
        font-size: 16px;
        line-height: 32px;
    }
    
}
@media (max-width: 768px) {
    .accordiansright {
      display: none;
    }
    
    .accordiansright.show {
      display: block;
    }
    
    .view-more-btn {
      display: block;
      margin: 20px auto;
    }
  }
  
@media (max-width:600px) {

    .accordiansleft img,
    .accordiansright img {

        margin-right: 2px;
    }
    .freqques h1 {
        font-size: 22px;
    }
    
    .freqques p {
        font-size: 14px;
    }
    .freqques {
        padding: 25px 20px;
       
    }
    .accordiansleft {
        width: 100%;
    }
    
    
    
    .accordiansright {
        width: 100%;
    }
    .css-iuuv2p-MuiButtonBase-root-MuiAccordionSummary-root {
       
        padding: 12px 15px !important;
    }
}

@media (max-width:500px) {
    .moreques .morequespop {
        width: 80%;
    }
    .morequespopconthanku h3{
        font-size: 14px;
    }
    .morequespopconthanku p{
        font-size: 12px;
        
    }
    .morequespopcon textarea {
        width: 97% !important;
        height: 124px;
        border: 1px solid #D9D9D9;
        resize: none;
    }
    .mobfaqbtn{
        display: none !important;
    }
    
}

@media (max-width:400px) {
    .freqques {
        padding: 25px 15px;
       
    }
    .accordiansleft {
        width: 100%;
    }

    .accordiansright {
        width: 100%;
    }
    
    .freqques h1 {
        font-size: 20px;
    }
    
    .freqques p {
        font-size: 12px;
    }

    .css-iuuv2p-MuiButtonBase-root-MuiAccordionSummary-root {
       
        padding: 10px 12px !important;
    }
    .moreques h3 {
        font-size: 12px;
        line-height: 12px;
    }
    .morequespopcon textarea {
        width: 97% !important;
        height: auto;
        border: 1px solid #D9D9D9;
        resize: none;
    }
    .moreques .morequespop .morequespopcon textarea::placeholder {
        font-size: 10px;
        font-weight: 400;
        line-height: 13px;
        text-align: left;
    
    
    }
}

@media (max-width:350px) {
    .moreques .morequespop {
        width: 80%;
    }
    .morequespopconthanku h3{
        font-size: 12px;
    }
    .morequespopconthanku p{
        font-size: 10px;
    }
    .morequespopcon textarea {
        width: 97% !important;
        height: 200px;
        border: 1px solid #D9D9D9;
        resize: none;
    }
}