
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  input,
  textarea {
    font-family: "Poppins", sans-serif;
  }
  .error-message {
    color: rgb(237, 177, 177);
    font-size: 0.875rem; /* Adjust size as needed */
    margin-top: 0.25rem; /* Adjust spacing as needed */
    margin-left: 10px;
}
  .contactsec3container {
    position: relative;
    width: 100%;
    min-height: 80vh;
    padding: 2rem;
    background-color: #fafafa;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contactsec3container .form {
    width: 100%;
    max-width: 950px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 99;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .contactsec3container .contact-form {
    background-color: #057347;
    position: relative;
  }
  
  .contactsec3container .circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #18a96f);
    position: absolute;
  }
  
  .contactsec3container .circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
  }
  
  .contactsec3container .circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
  }
  
  .contactsec3container .contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #057347;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
  }
  
  .contactsec3container form {
    padding: 2.3rem 2.2rem;
    z-index: 55;
    overflow: hidden;
    position: relative;
  }
  
  .contactsec3container .title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  
 .contactsec3container  .input-container {
    position: relative;
    margin: 1rem 0;
  }
  
 .contactsec3container  .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
  }
  
 .contactsec3container  textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
  }
  
 .contactsec3container .input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 999;
    transition: 0.5s;
  }
  
 .contactsec3container .input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
  }
  
  .contactsec3container .btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #006039;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
  }
  
  .contactsec3container .btn:hover {
    background-color: transparent;
    color: #fff;
  }
  
  .contactsec3container .input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
  }
  
  .contactsec3container .input-container span:before,
  .contactsec3container .input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #057347;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .contactsec3container .input-container span:before {
    left: 50%;
  }
  
  .contactsec3container .input-container span:after {
    right: 50%;
  }
  
  .contactsec3container .input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
  }
  
  .contactsec3container .input-container.focus span:before,
  .contactsec3container .input-container.focus span:after {
    width: 50%;
    opacity: 1;
  }
  
  .contactsec3container .contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
  }
  
  .contactsec3container .contact-info .title {
    color: #006039;
    text-transform: capitalize;
  }
  
  .contactsec3container .text {
    color: #333;
    margin: 0.8rem 0 1.2rem 0;
  }
  
  .contactsec3container .information {
    display: flex;
    color: #555;
    margin: 0.5rem 0;
    align-items: center;
    font-size: 0.95rem;
  }
  
  .contactsec3container .icon {
    width: 28px;
    margin-right: 0.7rem;
  }
  
  .contactsec3container .social-media {
    padding: 2rem 0 0 0;
  }
  
  .contactsec3container .social-media p {
    color: #333;
  }
  
  .contactsec3container .social-icons {
    display: flex;
    margin-top: 0.5rem;
  }
  
   .contactsec3container .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #006039, #0b925c);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
  }
  
   .contactsec3container .social-icons a:hover {
    transform: scale(1.05);
  }
  
   .contactsec3container .contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #006039;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.5;
  }
  
   .contactsec3container .big-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #19ce86, #006039);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
  }
  
   .contactsec3container .big-circle:after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #fafafa;
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
  }
  
   .contactsec3container .square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.1;
  }
  
  @media (max-width: 850px) {
    .contactsec3container .form {
      grid-template-columns: 1fr;
    }
  
    .contactsec3container .contact-info:before {
      bottom: initial;
      top: -75px;
      right: 65px;
      transform: scale(0.95);
    }
  
    .contactsec3container .contact-form:before {
      top: -13px;
      left: initial;
      right: 70px;
    }
  
    .contactsec3container .square {
      transform: translate(140%, 43%);
      height: 350px;
    }
  
    .contactsec3container .big-circle {
      bottom: 75%;
      transform: scale(0.9) translate(-40%, 30%);
      right: 50%;
    }
  
    .contactsec3container .text {
      margin: 1rem 0 1.5rem 0;
    }
  
    .contactsec3container .social-media {
      padding: 1.5rem 0 0 0;
    }
  }
  
  @media (max-width: 480px) {
    .contactsec3container .container {
      padding: 1.5rem;
    }
  
    .contactsec3container .contact-info:before {
      display: none;
    }
  
    .contactsec3container .square,
    .contactsec3container .big-circle {
      display: none;
    }
  
    .contactsec3container form,
    .contactsec3container .contact-info {
      padding: 1.7rem 1.6rem;
    }
  
    .contactsec3container .text,
    .contactsec3container .information,
   .contactsec3container  .social-media p {
      font-size: 0.8rem;
    }
  
    .contactsec3container .title {
      font-size: 1.15rem;
    }
  
    .social-icons a {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  
     .contactsec3container .icon {
      width: 23px;
    }
  
     .contactsec3container .input {
      padding: 0.45rem 1.2rem;
    }
  
     .contactsec3container .btn {
      padding: 0.45rem 1.2rem;
    }
  }